@import '../../sass/theme.scss';

.seedom-vote {

  .list {

    .row {
      background-color: $puck-background;
      color: white;
      display: flex;
      flex-direction: column;
      height: $navbar-height * 2;
      padding: $small-padding;
      font-size: 20px;

      .area {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.stretch {
          flex: 1;

          @include desktop {
            flex: none;
          }
        }

        &.right {
          justify-content: flex-end;
        }
      }

      .bit {
        padding-right: $small-padding;
        flex: none;

        &.end {
          padding-right: 0;
        }

        &.header {
          font-weight: bold;
          text-transform: uppercase;
        }

        &.header-normal {
          font-weight: bold;
        }

        &.stretch {
          flex: 1;
        }

      }

      .tools {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: none;
        text-transform: uppercase;
      }

      .seedom-score {
        flex: none;
        padding-right: $small-padding;
        text-transform: uppercase;
      }

      @include desktop {
        flex-direction: row;
        height: $navbar-height;
      }

    }

  }

}
