@import '../../sass/theme.scss';

.seedom-vote {

  .list {

    .row {

      &.caster {
        text-transform: uppercase;
      }

      &.index {
        &.static {
          height: $navbar-height;
        }
      }

      &.name {
        border-top: 1px solid $participation-phase;

        .seedom-field {
          flex: 1;
          input {
            font-size: 20px;
          }
        }

      }
    }
  }
}
