@import '../../sass/theme.scss';

.seedom-vote {

  .list {

    .row {
      background-color: $puck-background;
      color: white;
      display: flex;
      flex-direction: row;
      padding: $small-padding;
      height: $navbar-height;
      align-items: center;
      font-size: 20px;

      &.caster {
        text-transform: uppercase;
      }

      &.index {
        border-top: 1px solid black;

        &.static {
          height: $navbar-height;
        }

        .button {
          text-transform: uppercase;
        }
      }

      &.name {
        border-top: 1px solid $participation-phase;

        .seedom-field {
          flex: 1;
          input {
            font-size: 20px;
          }
        }

        .button {
          text-transform: uppercase;
        }
      }

      .bit {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: $small-padding;

        &.begin {
          padding-left: 0;
        }

        &.header {
          font-weight: bold;
          text-transform: uppercase;
        }

        &.header-normal {
          font-weight: bold;
        }

        &.stretch {
          flex: 1;
        }

        &.shadow {
          filter: drop-shadow(0px 0px 5px #000000);
        }
      }
    }
  }
}
