@import '../../../../sass/theme.scss';

.seedom-puck {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0;

  .intro {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    animation: $intro-duration ease-in-out 0s 1 zoom-in, $intro-duration ease-in-out 0s 1 wow;
    animation-fill-mode: forwards;
  }

  .interface {
    width: 100%;
    transform: scale(0);
    animation: $puck-duration ease-out $intro-duration 1 zoom-in;
    animation-fill-mode: forwards;
    font-family: 'CamphorPro Regular';
    position: relative;
  }

}

