.seedom-participate-about {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  .field {
    position: absolute;
    font-family: 'CamphorPro Heavy';
    text-transform: uppercase;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
