@import '../../sass/theme.scss';

.seedom-collapse {
  width: 100%;
  height: $navbar-height;
  background-color: $background;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;

  .toggle {
    font-size: 20px;
    color: $primary;

    &.left {
      padding-right: $medium-padding;
    }
    &.right {
      padding-left: $medium-padding;
    }
  }

}
