
 .circular-progress {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.circular-progress .path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease 0s;
}

.circular-progress .trail {
  stroke: #d6d6d6;
}

.circular-progress .text {
  fill: white;
  font-size: 3px;
  font-weight: bold;
  dominant-baseline: central;
  text-anchor: middle;
  width: 300px;
}

.circular-progress .background {
  fill: #bebebe;
}
