
$loading-spin-duration: 4s;
$loading-fade-duration: 1s;

.circular-progress {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;

  .progress {
    stroke: #3e98c7;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease 0s;
  }

  .trail {
    stroke: #d6d6d6;
  }

  .trail-text {
    fill: white;
    font-size: 30px;
    font-weight: bold;
    dominant-baseline: central;
    text-anchor: middle;
    width: 300px;
  }

  %loading {
    transform-origin: 50% 50%;
    animation: spin $loading-spin-duration linear 0s infinite;
    opacity: 0;

    &.show {
      animation: spin $loading-spin-duration linear 0s infinite, fadeIn $loading-fade-duration ease-out 0s 1;
      animation-fill-mode: forwards;
    }

    &.hide {
      animation: spin $loading-spin-duration linear 0s infinite, fadeOut $loading-fade-duration ease-out 0s 1;
      animation-fill-mode: forwards;
    }

  }

  .loading {
    @extend %loading;
    stroke: red;
    stroke-linecap: round;
  }

  .loading-text {
    @extend %loading;
    fill: white;
    font-size: 30px;
    font-weight: bold;
    dominant-baseline: central;
    text-anchor: middle;
  }

  .background {
    fill: #bebebe;
  }

}

@keyframes fadeIn {
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}
