{
  "ignore": [
    "node_modules"
  ],
  "presets": ["es2015", "env", "react"],
  "plugins": [
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}
