.cause-logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter:
    drop-shadow(2px 1px 0 black)
    drop-shadow(-1px -1px 0 black);
  height: 100%;
  width: 100%;

  &.small {
    height: 20%;
  }
}
