.seedom-content.cancelled {

  .puck-message {
    color: white;
    font-size: 20px;
    font-weight: bold;

    &.top {
      margin-bottom: 38%;
    }

  }

  img {
    height: 30%;
  }

  .button {
    margin-top: 50%;
  }

}
