@import '../../../../sass/theme.scss';

.seedom-suggest {

  .list {

    .row {
      background-color: $puck-background;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $small-padding;

      .seedom-score {
        flex: none;
        padding-left: $small-padding;
        padding-right: $small-padding;
      }

      &.voted {
        text-transform: uppercase;
        justify-content: center;
      }

      &.name {

        >.seedom-field {
          width: 100%;
          flex: 1;
        }

      }

      &.participate {
        text-transform: uppercase;
        justify-content: center;
      }

      &.index {

        .name {
          flex: 1;
          font-weight: bold;
        }

        .average-score {
          padding-left: $small-padding;
          padding-right: $small-padding;
          font-size: 25px;
        }

      }

    }
  }
}
