.seedom-content.participated {

  img {
    height: 20%;
  }

  .entries {
    margin-bottom: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;

    .total {
      font-size: 40px;
    }
  }

  a {
    margin-top: 45%;
  }

}
