@import '../../../../sass/theme.scss';

.seedom-feed {

  .seedom-table > .row > .contents > .side {

    .blocknum {
      flex: none;
    }

    .address {
      flex: 1;
      text-align: right;
    }

    .entries {
      flex: none;
      text-transform: uppercase;
    }

    .messages {
      flex: 1;
      text-align: right;
      color: $primary;
      font-weight: bold;
    }

  }

}
