.button {
  text-transform: uppercase;

  i {
    margin-top: -3px;

    &.left {
      padding-right: 4px;
    }

    &.right {
      padding-left: 4px;
    }
  }

  &:not(.is-outlined) {
    font-family: 'CamphorPro Heavy';
  }

}
