@import '../theme.scss';

.navbar-brand {
  &.is-loading {
    animation: ghost $loading-duration ease-in-out 0s infinite;
  }

  .navbar-item {
    padding: 0.2rem 1rem;

    img {
      max-height: 3.4rem;
    }
  }

  .navbar-burger {
    color: white;
  }
}

.navbar-menu {
  padding: 0;
}

.navbar-start {
  .navbar-item {
    color: $primary;
    font-weight: bold;

    &.is-active:not(:hover) {
      background-color: $primary;
    }

  }
}

.navbar-end {
  display: none;

  .navbar-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @include desktop {
    display: flex;
  }
}

.navbar > .container, .container > .navbar {

  .navbar-brand {
    margin-left: 0;
  }

  .navbar-menu {
    margin-right: 0;
  }

}
