.navbar-item,
.navbar-link {
  padding: 0.2rem 1rem;
}

.navbar-start {

  .navbar-item {
    color: $primary;

    &.is-active:not(:hover) {
      background-color: $primary;
    }

  }
}

.navbar-item img {
  max-height: 3.6rem;
}

.navbar-end {
  .navbar-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
