@import '../../../../sass/theme.scss';

.seedom-suggest {

  .row.name {
    border-top: 1px solid $participation-phase;

    >.seedom-field {
      width: 100%;
      padding-right: $small-padding;
      flex: 1;

      input {
        font-size: 20px;
      }
    }




  }

}
