@import '../../../../../../sass/theme.scss';

.seedom-overlay > .indicator {
  width: 80%;
  height: 80%;
  display: block;
  transform: scale(0);

  &.show {
    animation: 0.5s ease-out 1s 1 zoom-in;
    animation-fill-mode: forwards;
  }

  .circle {
    stroke: transparent;
    transform-origin: 50% 50%;

    &.checkmark {
      fill: $success;
    }

    &.waiting {
      fill: $waiting;
      animation: 2s ease-in-out 1s infinite pulse;
    }

    &.error {
      fill: $error;
    }

    &.cancel {
      fill: $error;
      animation: 2s ease-in-out 1s infinite pulse;
    }

    &.selection {
      fill: $primary;
      animation: 5s ease-in-out 0s infinite win;
    }

    &.success {
      fill: $primary;
      animation: 2s ease-in-out 1s infinite pulse;
    }

  }

  .element {
    fill: transparent;
    transform-origin: 50% 50%;

    &.pulse {
      fill: $primary;
      stroke: transparent;
      animation: 3s ease-in-out 0s infinite win;
    }

  }

}
