@import '../../../../../../sass/theme.scss';

.seedom-content.begin {

  img {
    height: 35%;
  }

  .etherPerEntry {
    color: $link;
    font-weight: bold;
    margin-top: 20px;
  }

  .button {
    margin-top: 20px;
  }

}
