.seedom-content.selection {

  .division.charity {
    flex: 1;
  }

  .division {

    .header {
      font-size: 14px;
    }

    &.center {
      width: 75%;
      flex-direction: row;

      .left {
        flex: 1;
      }

      .right {
        flex: 1;
      }

    }

    &.bottom {
      width: 50%;
      align-items: top;
      padding-top: 0;
    }

  }

  .division.address {

    > div {
      margin-bottom: 10%;

      a {
        font-size: 14px;
        text-decoration: underline;
        color: white;
      }

    }

  }
}
