.seedom-content.badge {

  .thank-you {
    font-family: 'CamphorPro Heavy';
  }

  .seedom-badge {
    width: 60%;
  }

  .button {

    &.twitter {
      background-color: #1DA1F2;
      border-color: #1DA1F2;
      color: white;
    }

    &.facebook {
      background-color: #3B5998;
      border-color: #3B5998;
      color: white;
    }

  }

}
