@import '../../sass/theme.scss';

.seedom-field {

  .control {

    &.addonbox {

      > div {
        display: flex;
        flex-direction: row;

        .addon {
          border: 1px solid $link;
          background-color: $link;
          display: flex;
          align-items: center;
          flex: none;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

    }
  }
}
