@import '../../sass/theme.scss';

.seedom-history {

  .row {
    background-color: $primary;
    color: black;

    .cause {
      cursor: pointer;
    }

    .contract {
      cursor: pointer;
    }

  }

}
