@import '../../../../../../sass/theme.scss';

.seedom-content.participate {

  img {
    height: 20%;
  }

  input {
    background-color: $puck-input-background;
    text-align: center;
    margin-top: 10px;
  }

  textarea {
    min-width: 0;
    resize: none;
    word-break: break-all;
    text-align: center;
    margin-top: 10px;
    background-color: $puck-input-background;
  }

  .button {
    margin-top: 20px;
  }

}
