@import '../../../../../../sass/theme.scss';

.seedom-content.participate {

  img {
    height: 20%;
    margin-bottom: 0.75rem;
  }

  .seedom-overlay > input {
    background-color: $puck-input-background;
    text-align: center;
  }

  textarea {
    min-width: 0;
    resize: none;
    word-break: break-all;
    text-align: center;
    background-color: $puck-input-background;
  }

  .seedom-entry {
    width: 50%;
  }

}
