@import '../../../../../../sass/theme.scss';

.seedom-content.raise {

  img {
    height: 20%;
    margin-bottom: 0.75rem;
  }

  .etherPerEntry {
    color: $link;
    font-weight: bold;
    margin-bottom: 0.75rem;
  }

  .seedom-field {
    width: 50%;
  }

}
