@import '../../../../sass/theme.scss';

.seedom-score {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;

  input {
    font-size: 25px;
    height: auto;
    width: 80px;
  }

  .divider {
    padding-left: $small-padding;
    padding-right: $small-padding;
  }

}
