.seedom-content.welcome {

  .now-benefitting {
    font-family: 'CamphorPro Heavy';
    margin-top: 10px;
    font-size: 28px;
  }

  .play-to-win {
    transform-origin: center center;
    animation: 1s ease-in-out 4s 4 pulse-out;
  }

}
