@import '../../../../sass/theme.scss';

.seedom-header {
  display: flex;
  flex-direction: row;
  position: relative;
  height: $navbar-height;

  > .background {
    display: block;
    background-color: $puck-background;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $small-padding;
    padding-bottom: $small-padding;
    z-index: 1;

    .item-title {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      display: flex;
    }

    .item-value {
      color: white;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

  }

  @include desktop {

    .side {
      flex: 0.2;
    }

    .center {
      flex: 0.6;
    }
  }

  @include fullhd {

    .side {
      flex: 0.3;
    }

    .center {
      flex: 0.4;
    }
  }

}
