@import '../../../../../../sass/theme.scss';

.seedom-circles {
  position: relative;
  transform: rotate(-90deg);

  .background {
    fill: $puck-background;
  }

  .phase-container {

    .phase {
      transform: scale(0);
      transform-origin: 50% 50%;

      text {
        transform: rotate(90deg);
        transform-origin: 50% 50%;

        .phase-text {
          fill: white;
          font-size: 35px;
          font-weight: bold;
          dominant-baseline: central;
          text-anchor: end;
          opacity: 0;
          animation: fade-in 0.5s ease-out 2.5s;
          animation-fill-mode: forwards;

          &.flipped {
            text-anchor: start;
          }
        }

      }

      &.elapsed {
        animation: ring-in $elapsed-phase-duration ease-out $elapsed-phase-delay;
        animation-fill-mode: forwards;
        circle { stroke: $elapsed-phase-color; }
      }

      &.raised {
        animation: ring-in $raised-phase-duration ease-out $raised-phase-delay;
        animation-fill-mode: forwards;
        circle { stroke: $raised-phase-color; }
      }

    }

  }

}
