@import '../../sass/theme.scss';

.seedom-hub {
  display: flex;
  flex-direction: row;
  flex: none;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  animation: fadeIn 1s ease-out 0s 1, zoomIn 1s ease-out 0s 1;
  animation-fill-mode: forwards;

  &.left {
    margin-bottom: 30px;
  }

  &.right {
    margin-top: 30px;
  }

  @include desktop {
    flex: 1;

    &.left {
      margin-bottom: 0px;
    }

    &.right {
      margin-top: 0px;
    }

  }

  .panel {
    display: flex;
    flex: 1;
    flex-direction: row;

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      flex-direction: column;

      &.left {
        margin-right: 40px;
      }

      &.right {
        margin-left: 40px;
      }

    }

    @include widescreen {
      flex-direction: row;
    }

    .stat {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-shadow: black 0px 0 20px;

      @include tablet {
        flex: 1;
      }

      @include desktop {
        flex: none;
      }

      @include widescreen {
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
      }

      .stat-title {
        color: gray;
        font-size: 12px;
        text-transform: uppercase;
      }

      .stat-value {
        color: white;
        font-size: 30px;
        font-weight: bold;
      }

      .stat-symbol {
        color: gray;
      }

    }

  }

}

@keyframes zoomIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
