@import '../../sass/theme.scss';

.seedom-hype {
  width: 100%;
  display: flex;
  background-image: url('https://raw.githubusercontent.com/seedom-io/seedom-assets/master/backgrounds/space.jpg');
  background-size: cover;
  justify-content: center;

  .countdown {
    margin-top: $large-padding;
    margin-bottom: 100px;
    position: relative;
    flex: 1;
    transform: scale(0);
    animation: 4s ease-out 0s 1 zoom-in;
    animation-fill-mode: forwards;

    @include tablet {
      flex: 0.7;
    }

    @include desktop {
      flex: 0.45;
    }

    .seedom-circles {
      position: relative;
      width: 100%;
    }

    .coming-soon {
      margin-bottom: $small-padding;
      font-family: 'CamphorPro Heavy';
    }

    form {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .field.email {
        width: 100%;
        margin-bottom: $medium-padding;
      }

    }

  }
}
