@import '../../../../sass/theme.scss';

.seedom-content.raise {

  img {
    height: 20%;
  }

  input {
    margin-top: 20px;
    width: 50%;
    text-align: center;
    background-color: $puck-input-background;
  }

  .button {
    margin-top: 20px;
  }

}
