.seedom-content.participated {

  img {
    height: 20%;
  }

  .entries-confirmed {
    margin-bottom: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;

    .total {
      font-size: 40px;
    }
  }

  a {
    margin-top: 45%;
  }

  .checkmark {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: white;
    stroke-miterlimit: 10;
    margin: 10% auto;
    transform: scale(0);
    transition: all 1s ease 0.5s;

    &.checked {
      transform: scale(1);
    }

    .circle {
      stroke: transparent;
      fill: green;
    }

    .check {
      fill: transparent;
    }

  }


}
