@import "./theme.scss";
@import './components/navbar';
@import './layout/footer';
@import '../../node_modules/bulma/bulma.sass';

@font-face {
  font-family: 'CamphorPro Regular';
  src: url('../fonts/CamphorPro-Regular.woff')
}

@font-face {
  font-family: 'CamphorPro Heavy';
  src: url('../fonts/CamphorPro-Heavy.woff')
}

@font-face {
  font-family: 'CamphorPro Light';
  src: url('../fonts/CamphorPro-Light.woff')
}

.navbar-item,
.navbar-link {
  padding: 0.2rem 1rem;
}

.navbar-start {

  .navbar-item {
    color: $primary;

    &.is-active:not(:hover) {
      background-color: $primary;
    }

  }
}

.navbar-item img {
  max-height: 3.6rem;
}

.navbar-end {
  .navbar-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.hero-body {
  padding-top: 0;
}

.field {
  &:not(:last-child) {
    margin-bottom: $small-padding;
  }
}

.footer {
  padding: 3rem 1.5rem 3rem;
  text-shadow: black 0px 0 20px;
}

$family-primary: 'CamphorPro Regular';
