@import "./theme.scss";
@import './components/navbar';
@import './layout/footer';
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/react-redux-toastr/src/styles/index.scss';

@font-face {
  font-family: 'CamphorPro Regular';
  src: url('../fonts/CamphorPro-Regular.woff')
}

@font-face {
  font-family: 'CamphorPro Heavy';
  src: url('../fonts/CamphorPro-Heavy.woff')
}

@font-face {
  font-family: 'CamphorPro Light';
  src: url('../fonts/CamphorPro-Light.woff')
}

.redux-toastr {
  .top-left, .top-right, .top-center {
    top: 40px;
  }
}

.navbar-item,
.navbar-link {
  padding: 0.2rem 1rem;
}

.navbar-start {

  .navbar-item {
    color: $primary;

    &.is-active:not(:hover) {
      background-color: $primary;
    }

  }
}

.navbar-item img {
  max-height: 3.6rem;
}

.navbar-end {
  .navbar-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.hero-body {
  padding-top: 0;
}

.field {
  &:not(:last-child) {
    margin-bottom: $small-padding;
  }
}

.footer {
  padding: 3rem 1.5rem 3rem;
  text-shadow: black 0px 0 20px;
}

.seedom-table {
  .row {
    background-color: $puck-background;
    border-top: 1px solid $participation-phase;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    padding: $small-padding;
    cursor: pointer;

    &:hover {
      background-color: $participation-phase;
    }

    &:first-child {
      border-top: none;
    }

    .icon {
      flex: none;
      font-size: 30px;
      margin-left: $small-padding;
      margin-right: $small-padding;
    }

    .contents {
      display: flex;
      flex-direction: column;
      margin-left: $small-padding;
      flex: 1;

      .side {
        display: flex;
        flex-direction: row;

        .blocknum {
          flex: none;
        }

        .address {
          flex: 1;
          text-align: right;
        }

        .entries {
          flex: none;
          text-transform: uppercase;
        }

        .messages {
          flex: 1;
          text-align: right;
          color: $primary;
          font-weight: bold;
        }

      }

      @include desktop {
        flex-direction: row;
        margin-left: 0;

        .side {

          > div {
            margin-left: $small-padding;
            margin-right: $small-padding;
          }

          &.right {
            flex: 1;
          }

        }

      }

    }

  }
}

$family-primary: 'CamphorPro Regular';
