@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/bulma/sass/utilities/mixins";

$background: #4a4a4a;
$body-background-color: #1C1D21;
$family-primary: 'CamphorPro Regular';
$footer-background-color: $body-background-color;

$primary: #31CF65;
$link: $primary;

$waiting: #ff6a00;
$success: $primary;
$error: darken(#ff3860, 10%);
$win: purple;

$large-padding: 50px;
$medium-padding: 20px;
$small-padding: 10px;

$navbar-height: 64px;

$navbar-background-color: black;
$navbar-item-color: white;
$navbar-item-hover-color: black;
$navbar-item-hover-background-color: $primary;
$navbar-item-img-max-height: auto;

$puck-background: lighten($background, 10%);
$participation-phase: lighten($puck-background, 10%);
$revelation-phase: lighten($participation-phase, 10%);
$puck-input-background: lighten($revelation-phase, 10%);

$stagger-duration: 0.7s;
$intro-duration: 1.5s;
$puck-duration: 1s;
$participation-phase-delay: $intro-duration + $puck-duration - $stagger-duration;
$participation-phase-duration: 1s;
$revelation-phase-delay: $participation-phase-delay + $participation-phase-duration - $stagger-duration;
$revelation-phase-duration: 1s;
$progress-phase-delay: $revelation-phase-delay + $revelation-phase-duration - $stagger-duration;
$progress-phase-duration: 1s;

$loading-duration: 2s;
$loading-spin-duration: $loading-duration * 4;
$loading-fade-duration: $loading-duration / 4;

$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: transparent;
$input-background-color: transparent;
$input-color: white;
$input-border-color: transparent;
$input-shadow: 0;
$input-radius: 0;

@keyframes ring-in {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes ghost {
  0% { opacity: 1; }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}

@keyframes zoom-in {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(0.96); }
  100% { transform: scale(1); }
}

@keyframes pulse-out {
  0% { transform: scale(1); }
  50% {
    transform: scale(1.4);
    color: white;
    font-weight: bolder;
  }
  100% { transform: scale(1); }
}

@keyframes win {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes wow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
