@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/bulma/sass/utilities/mixins";

$background: #4a4a4a;

$primary: #31CF65;

$waiting: #ff6a00;
$success: darken($primary, 15%);
$loading: black;
$error: darken(red, 10%);
$win: purple;

$puck-background: lighten($background, 10%);
$participation-phase: lighten($puck-background, 10%);
$revelation-phase: lighten($participation-phase, 10%);
$puck-input-background: lighten($revelation-phase, 10%);

$stagger-duration: 0.7s;
$intro-duration: 1.5s;
$puck-duration: 1s;
$participation-phase-delay: $intro-duration + $puck-duration - $stagger-duration;
$participation-phase-duration: 1s;
$revelation-phase-delay: $participation-phase-delay + $participation-phase-duration - $stagger-duration;
$revelation-phase-duration: 1s;
$progress-phase-delay: $revelation-phase-delay + $revelation-phase-duration - $stagger-duration;
$progress-phase-duration: 1s;

$loading-spin-duration: 10s;
$loading-fade-duration: 0.5s;
