@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";
@import "../../node_modules/bulma/sass/utilities/mixins";

$background: #4a4a4a;
$body-background-color: #1C1D21;
$family-primary: 'CamphorPro Regular';
$footer-background-color: $body-background-color;

$primary: #31CF65;
$link: $primary;

$waiting: #ff6a00;
$success: $primary;
$error: darken(#ff3860, 10%);
$win: purple;

$large-padding: 50px;
$medium-padding: 20px;
$small-padding: 10px;

$navbar-background-color: black;
$navbar-item-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $primary;
$navbar-item-img-max-height: auto;

$puck-background: lighten($background, 10%);
$participation-phase: lighten($puck-background, 10%);
$revelation-phase: lighten($participation-phase, 10%);
$puck-input-background: lighten($revelation-phase, 10%);

$stagger-duration: 0.7s;
$intro-duration: 1.5s;
$puck-duration: 1s;
$participation-phase-delay: $intro-duration + $puck-duration - $stagger-duration;
$participation-phase-duration: 1s;
$revelation-phase-delay: $participation-phase-delay + $participation-phase-duration - $stagger-duration;
$revelation-phase-duration: 1s;
$progress-phase-delay: $revelation-phase-delay + $revelation-phase-duration - $stagger-duration;
$progress-phase-duration: 1s;

$loading-spin-duration: 8s;
$loading-fade-duration: 0.5s;

