section.advantages {
  padding: 70px 0;
  background-color: rgb(17, 17, 20);
  color: white;
  border-top: 1px solid rgba(255,255,255,0.14);
  border-bottom: 1px solid rgba(255,255,255,0.14);
}

.title {
  color: white !important;
  font-weight: 500;
  margin-bottom: 3.5rem !important;
}

.subtitle {
  color: #c0c0c0;
  text-transform: uppercase;
}
