@import '../../../../../../sass/theme.scss';

.seedom-content.participated {

  .cause-logo {
    margin-bottom: $small-padding;
  }

  .entries {
    font-size: 40px;
    font-family: "CamphorPro Heavy";
    margin-bottom: -10px;
  }

}
