@import '../../../../../../sass/theme.scss';

.seedom-content.participation {

  .cause-logo {
    margin-bottom: $small-padding;
    cursor: pointer;
  }

  .entries {
    font-size: 40px;
    font-family: "CamphorPro Heavy";
    margin-bottom: -10px;
  }

  .get-more-entries {
    transform-origin: center center;
    animation: 1s ease-in-out 4s 4 pulse-out;
  }

}
