@import '../../../../../../sass/theme.scss';

.seedom-content.raise {

  .cause-logo {
    margin-bottom: $small-padding;
    cursor: pointer;
  }

  .text {
    margin-bottom: $small-padding;
  }

}
