@import '../../../../sass/theme.scss';

.seedom-container {

  .seedom-home {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: column;
    }

    @include desktop {
      flex-direction: row;
    }

  }

  .container {
    margin-top: 40px;
  }

}
